<section class="container flex flex-wrap center">
  <div class="flex-container">
    <mat-card class="example-card">
      <form [formGroup]="formGroup" (ngSubmit)="save()">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Cadastro de Empresa</mat-card-title>
      </mat-card-header>
      <mat-card-content>

          <mat-form-field class="field-litle-width">
            <input [(ngModel)]="objeto.cnpj" [readonly]="isReadonly" maxlength="14" minlength="14" matInput placeholder="CNPJ"
              formControlName="cnpj" />

            <mat-error *ngIf="
                  !formGroup.controls['cnpj'].valid &&
                  formGroup.controls['cnpj'].touched
                ">
              CNPJ é obrigatório.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="field-form">
            <input [(ngModel)]="objeto.nome" maxlength="100" matInput placeholder="Nome" formControlName="nome" />

            <mat-error *ngIf="
                  !formGroup.controls['nome'].valid &&
                  formGroup.controls['nome'].touched
                ">
              nome obrigatório.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="field-litle-width">
            <input [(ngModel)]="objeto.telefone" maxlength="30" matInput placeholder="Telefone" formControlName="telefone" />

            <mat-error *ngIf="
                  !formGroup.controls['telefone'].valid &&
                  formGroup.controls['telefone'].touched
                ">
              telefone obrigatório.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="field-form">
            <input [(ngModel)]="objeto.email" maxlength="100" email="true" type="email" matInput placeholder="Email" formControlName="email" />

            <mat-error *ngIf="f.email.errors.required">
              nome obrigatório.
            </mat-error>

            <mat-error *ngIf="f.email.errors.email">
              e-mail invalido.
            </mat-error>
        
          </mat-form-field>

          <mat-form-field class="field-form">
            <input [(ngModel)]="objeto.endereco" maxlength="100" matInput placeholder="Endereço" formControlName="endereco" />

            <mat-error *ngIf="
                  !formGroup.controls['endereco'].valid &&
                  formGroup.controls['endereco'].touched
                ">
              endereço obrigatório.
            </mat-error>
          </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button routerLink="/list-empresa">
          <i class="material-icons">undo</i>Voltar
        </button>

        <button mat-raised-button type="submit">
          <i class="material-icons">save</i>Voltar
        </button>
      </mat-card-actions>

    </form>
    </mat-card>
  </div>
</section>