<mat-tab-group>
    <mat-tab label="Importação do arquivo XLS">

        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Importação de itens do inventário</mat-card-title>
                <mat-card-subtitle>Selecione o arquivo excel para importar os dados</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <input type="file" (change)="onFileChange($event)" />
            </mat-card-content>

        </mat-card>
    </mat-tab>

    <mat-tab label="Importação dos itens"> 
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Importação de itens do inventário</mat-card-title>
                <mat-card-subtitle>Clique no botão Importar itens para incluir os itens no banco de dados</mat-card-subtitle>
            </mat-card-header>

            <mat-card-actions>

                <button mat-raised-button (click)="importItens()">
                    <i class="material-icons">get_app</i>Importar itens</button>

            </mat-card-actions>

        </mat-card>


    </mat-tab>
</mat-tab-group>

<mat-divider></mat-divider>


<div *ngIf="willDownload">
    <a id="download"> Download JSON File </a>
</div>