<div class="mat-app-background basic-container">

    <form (ngSubmit)="find()" novalidate>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>FORMULÁRIO DE PESQUISA DE EMPRESA</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field appearance="legacy" class="field-litle-width">
                    <mat-label>Cnpj</mat-label>
                    <input mask="00-000-000/0000-00" matInput name="cnpj" placeholder="cnpj do empresa" [(ngModel)]="filter.cnpj" maxlength="18">
                </mat-form-field>

                <mat-form-field appearance="legacy" class="field-form">
                    <mat-label>Nome</mat-label>
                    <input matInput name="nome" placeholder="nome do empresa" [(ngModel)]="filter.nome">
                </mat-form-field>
            </mat-card-content>

            <mat-card-actions>
                <button mat-raised-button type="submit">
                    <i class="material-icons">search</i>Pesquisar</button>

                <button mat-raised-button routerLink="/cadastro-empresa">
                    <i class="material-icons">add_circle_outline</i>Novo</button>
            </mat-card-actions>
        </mat-card>
    </form>

    <table mat-table [dataSource]="list" class="mat-elevation-z8">
        <ng-container matColumnDef="cnpj">
            <th mat-header-cell *matHeaderCellDef>Código</th>
            <td mat-cell *matCellDef="let element">{{ element.cnpj }}</td>
        </ng-container>

        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>E-mail</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <ng-container matColumnDef="endereco">
            <th mat-header-cell *matHeaderCellDef>Endereço</th>
            <td mat-cell *matCellDef="let element">{{ element.endereco }}</td>
        </ng-container>

        <ng-container matColumnDef="acao">
            <th mat-header-cell *matHeaderCellDef> Ação </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button [routerLink]="['/cadastro-empresa', element.cnpj]">
                    <mat-icon>create</mat-icon>Editar
                </button>
                <button mat-raised-button (click)="confirmaExclusao(element)">
                    <mat-icon>delete_forever</mat-icon>Excluir
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
</div>